#adminmenu div.separator {
    height: 1px !important;
    background: crimson !important;
}

.wps-limit-login-page-settings .wps-autopromo {
    display: none !important;
}

#obfx-dash .navigation li:nth-child(2) {
    display: none !important;
}

#villatheme-support {
    display: none !important;
}


.eu-cookies-bar-cookies-bar-button.eu-cookies-bar-cookies-bar-button-accept,
.eu-cookies-bar-cookies-bar-button-decline {
    padding: 5px 10px !important;
    width: 117px !important;
}

.eu-cookies-bar-cookies-bar-button.eu-cookies-bar-cookies-bar-button-close span:before {
    background: none;
}

.eu-cookies-bar-cookies-bar-button-close {
    background-color: hsla(0, 100%, 50%, 0.549) !important;
    border-radius: 7px;
    font-weight: bold !important;
    position: absolute !important;
    top: 3px !important;
    right: 3px !important;
}

.eu-cookies-bar-cookies-bar-button.eu-cookies-bar-cookies-bar-button-close span:before {
    background: inherit !important;
}

.eu-cookies-bar-cookies-bar-message>div {
    text-align: justify;
    position: relative;
    padding-bottom: 22px;
}

.eu-cookies-bar-cookies-bar-message>div>a {
    display: block;
    position: absolute;
    right: -12px;
}

.eu-cookies-bar-cookies-settings-call-container {
    color: #000000 !important;
    font-family: 'Roboto' !important;
}

.eu-cookies-bar-cookies-bar-settings-policy,
.eu-cookies-bar-cookies-bar-settings-content {
    color: #000;
    text-shadow: none;
    font-family: 'roboto';
    text-align: justify;
}

.eu-cookies-bar-cookies-bar-settings-policy strong {
    font-family: cursive;
}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close:before,
.eu-cookies-bar-cookies-bar-settings-save-button {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px -1px 1px #000, 0px 0px 1px #fff;
}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close {
    top: 1px;
    right: 1px;
    line-height: inherit;
    margin: 3px;
    background-color: red;
    height: 27px;
    width: 27px;
    border-radius: 5px;
}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close,
.eu-cookies-bar-cookies-bar-settings-save-button {
    box-shadow: 1px 1px 1px 1px #000, 0px -1px 2px 0px #fff;
}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close:hover,
.eu-cookies-bar-cookies-bar-settings-save-button:hover {
    box-shadow: inset 0px 1px 0px 1px #000, inset 0px -1px 2px 0px #fff;

}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close:hover::before {
    margin: 5px;
    display: inline-block;
}

.eu-cookies-bar-cookies-bar-settings-header .eu-cookies-bar-cookies-bar-settings-close:hover::before,
.eu-cookies-bar-cookies-bar-settings-save-button:hover {
    text-shadow: 2px 1px 1px #000, -0.5px -0.5px 1px #fff;
}

#wpadminbar {
    z-index: 90000 !important;
}

/* BOUTONS 3D */
/* 
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
      width: 150px;
      height: 50px;
      cursor: pointer;
      background: #333;
      margin: 10px;
      border: none;
      border-radius: 10px;
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
      color: #222;
      font-size: 16px;
  }
  
  button:hover {
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
      font-size: 15px;
      transition: 500ms;
  }
  
  button:focus {
      outline: none;
  }
  
  .red:hover {
      color: #f07171;
      text-shadow: 0px 0px 10px #f07171;
  }
  
  .green:hover {
          color: #93f071;
      text-shadow: 0px 0px 10px #93f071;
  }
  
  .blue:hover {
      color: #71b7f0;
      text-shadow: 0px 0px 10px #71b7f0;
  }
  
  .purple:hover {
      color: #b971f0;
      text-shadow: 0px 0px 10px #b971f0;
  } */


#wp-admin-bar-top-secondary {
    background-color: #363b3f;
}